name: "All Tests"

on: [push]

jobs:
  build:
    strategy:
      matrix:
        poetry-version: ["1.8.4"]
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up Poetry
      uses: snok/install-poetry@v1
      with:
        version: ${{ matrix.poetry-version }}

    - name: Install dependencies
      run: poetry install

    - name: Run serial tests with pytest
      run: poetry run pytest
